<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form role="form" action="/member/signup" th:object="${memberForm}" method="post">
        <div>
            <label th:for="id">아이디</label>
            <input type="text" th:field="*{memberId}" placeholder="아이디를 입력하세요" required minlength="3" maxlength="20">
            <p th:if="${#fields.hasErrors('memberId')}" th:errors="*{memberId}">Incorrect id</p>

        </div>
        <div>
            <label th:for="password">패스워드</label>
            <input type="password" th:field="*{password}" placeholder="패스워드를 입력하세요" required minlength="5" maxlength="20">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect password</p>

        </div>
        <div>
            <label th:for="name">이름</label>
            <input type="text" th:field="*{name}" placeholder="이름을 입력하세요" required>
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect name</p>

        </div>
        <div>
            <label th:for="email">이메일</label>
            <input type="email" th:field="*{email}" placeholder="이메일을 입력하세요" required>
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect email</p>


        </div>
        <button type="submit">Submit</button>

    </form>
</body>
</html>